{% extends "demo/base.html" %}

{% block document_content %}
<div id="splash">
    <div class="container">
        <div class="col">
            <h1>Music Inbox</h1>
            <p id="tagline">Get information about your music<br /> using your library.</p>
        </div>
        <form id="frm_upload" method="post" action="">
            <div class="input_wrapper">
                <label for="name">Library Name</label>
                <input type="text" name="name" value="" class="txtbox" />
            </div>
            <div class="input_wrapper">
                <label for="file">iTunes XML File</label>
                <input type="text" name="file_path" value="" id="file_path" class="txtbox" />
                <div class="file_wrapper">
                    <input type="file" name="file" value="" id="file" class="btn_browse" />
                </div>
            </div>
            <input type="submit" name="submit" value="Upload Library" class="btn_submit" />
        </form>
    </div>
</div>
{% endblock %}