/* SCREEN **************************************************/

html, body {
    font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
}

#topbar {
    height: 18px;
    background-color: #00396b;
    border-bottom: 1px solid #67a2d5;
}

/* Home
---------------------------------------------------------- */
body#home {
    background: #4c94d3 url("../img/home_bg.png");
}
body#home #document {
    min-height: 400px;
    background: url("../img/home_logo_highlight.png") no-repeat top center;
}
body#home h1 {
    margin: 40px auto 60px auto;
    width: 472px;
    height: 69px;
    text-indent: -1000000px;
    background: url("../img/home_logo.png") no-repeat;
}
body#home #input_tabs { 
    margin: 0 auto;
    width: 640px;
}
body#home .instructions {
    margin-bottom: 10px;
    text-align: center;
    color: #00396b;
    font: 20px/27px 'QuicksandBook', Arial, sans-serif;
    text-shadow: 1px 1px 1px #aec7dc;
}
body#home form {
 margin: 0 auto;
 width: 478px;
}
body#home form p#message {
    margin: 6px 0;
    padding: 8px;
    color: #fff;
    font-size: 12px;
    background: #1f66a4;
    border-radius: 6px;
    -moz-border-radius: 6px;
}
body#home form .input_container {
    position: relative;
}
body#home form .overlay {
    position: absolute;
    top: 0;
    z-index: 1000;
}
body#home form p#message.error {
    background: #c70000;
}
body#home #frm_upload label, body#home #frm_upload input {
    display: block;
}
body#home form input.query {
    position: relative;
    float: left;
    padding: 0 10px;
    width: 362px;
    height: 50px;
    color: #d3d3d3;
    font: 18px/27px 'QuicksandBook', Arial, sans-serif;
    background: url("../img/home_form_bg.png") no-repeat 0 0;
    border: 0;
}
body#home form input.query.active {
    color: #313131;
}
body#home form input.query:focus {
    color: #00396b;
}
body#home form input#btn_submit {
    float: left;
    width: 94px;
    height: 50px;
    color: #00396b;
    font-size: 18px;
    text-shadow: 1px 1px 1px #fff;
    background: url("../img/home_form_bg.png") no-repeat -384px;
    border: 0;
}

body#home form label { 
 display: none;
}

body#home #recent_albums { 
 margin: 120px auto;
 width: 640px;
}

#recent_albums > * {
 margin-bottom: 10px;
 color: #00396b;
 font: 20px/27px 'QuicksandBook', Arial, sans-serif;
 text-shadow: 1px 1px 1px #aec7dc;
}

div#recent_albums * td { 
 padding: 2px;
}

/* Subpage Header
---------------------------------------------------------- */
body#sub #header {
    padding-top: 14px;
    height: 73px;
    background: #4c94d3 url("../img/home_bg.png");
    border-bottom: 1px solid #3a7aaf;
}
body#sub #header h1 a {
    display: block;
    width: 315px;
    height: 49px;
    text-indent: -1000000px;
    background: url("../img/sub_logo.png") no-repeat;
}
body#sub #content {
    padding: 20px 0;
}

/* Grid
---------------------------------------------------------- */
.grid_container {
    margin: 0 auto;
    width: 940px;
}